.contact-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;    
  padding: 50px;
  box-sizing: border-box;
}


/* Contact Box*/


.contact-me-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    column-gap: 15px;
    row-gap: 20px;
    padding-bottom: 150px;
    align-items: center;
    width: 100%;
}

.contact-property-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; /* contact info containers: Name - Email - Message */ 
}

.contact-property {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%; /* contact info containers: Name - Email - Message */  
}

.contact-info-cat {
    font-weight: bold;
    color: rgb(169, 146, 231);
    font-size: 22px;
}

.contact-name-input, 
.contact-email-input, 
.contact-message-input,
.contact-button {
    background-color: transparent;
    border: 2px solid rgba(247, 218, 141);
    border-radius: 5px;
    color: rgb(202, 226, 169); 
    font-weight: bold;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    min-width: 150px;
    max-width: 100%;          
    box-sizing: border-box;   
    padding: 10px;
    /*textarea */
    resize: vertical;      
}

.contact-message-input {
    height: 150px;      
}

.contact-name-input:active, 
.contact-email-input:active, 
.contact-message-input:active,
.contact-button:active,
.contact-name-input:hover, 
.contact-email-input:hover, 
.contact-message-input:hover,
.contact-button:hover {
    outline: none;
}

.contact-button-container {
    display: flex;
    justify-content: center;
}

.contact-button {
    max-width: 20%; 
}

/* Contact icons*/

.contact-icons {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}

.icon-container {
    background-color: transparent;
}

.linkedin-logo, .github-logo {
    height: 100%
}

.linkedin-logo {
    transform: scale(1.5);
}

.github-logo {
    transform: scale(1.1);
}




@media (max-width: 1440px) {

  .contact-me-box {
    padding-bottom: 50px;
  }

  .contact-property-container  {
    width: 35%;
  }

  .contact-icons {
    height: 60px; 
  }
}

@media (max-width: 1200px) {

  .contact-me-box {
    padding-bottom: 30px;
  }

  .contact-property-container {
    width: 50%;
  }

  .contact-icons {
    height: 40px; 
  }

}


@media (max-width: 950px) {

  .contact-section {
    padding: 30px;
  }

  .contact-me-box {
    padding-bottom: 30px;
  }

  .contact-property {
    row-gap: 5px;
  }

}

@media (max-width: 680px) {

  .contact-icons {
    height: 35px; 
  }

}

@media (max-width: 550px) {

  .contact-property-container {
    width: 65%;
  }


  .contact-info-cat, .brackets {
    font-size: 18px;
  }

  .contact-name-input, 
  .contact-email-input, 
  .contact-message-input,
  .contact-button { 
    font-size: 15px;
    min-width: 80px;       
    padding: 5px;
    /*textarea */
  }

  .contact-button {
      max-width: 10%; 
  }
}

@media (max-width: 400px) {

  .contact-property-container  {
    width: 70%;
  }

}

@media (max-width: 350px) {

}

