html {
    scroll-behavior: smooth; /*Applied to all anchors*/
}

body {
    background-color: black;
    color: rgb(177, 223, 150);
    margin: 0px;
    font-family:'Nunito', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    padding: 50px 5rem; 
}

.content--canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
}


@media (max-width: 950px) { 
    section {
        padding: 20px 2rem; 
    }
}