html {
    scroll-behavior: smooth; /*Applied to all anchors*/
}

body {
    background-color: rgb(21, 36, 25);
    color: rgb(177, 223, 150);
    margin: 0px;
    font-family:'Nunito', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    padding: 50px 5rem; 
}

@media (max-width: 950px) { 
    section {
        padding: 20px 2rem; 
    }
}