@keyframes show {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
} 

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 1000;
    opacity: 0;
    animation: show 2s ease forwards 0.5s;
}

nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 1.5rem; 
    align-items: center;
    padding: 0 0.8rem 0 2rem;
}   

nav a {
    text-decoration: none; 
}   

.nav-button {
    padding: 0.4rem 0.8rem;
    border: none;
    background-color: transparent;
    color: rgb(247, 218, 141);
    font-weight: bold; 
    font-size: 16px; 
    cursor: pointer;
    white-space: nowrap; 
    border-radius: 15px;
    transition: box-shadow 0.3s ease;
}

.nav-button:hover,
.nav-button:active,
.nav-button:focus {
    box-shadow: 0px 0px 15px 4px rgba(0, 206, 47, 0.8);
}

@media (max-width: 550px) {
    nav {
        column-gap: 0.4rem; 
        padding: 0 0.4rem;
    }
    .nav-button {
        font-size: 14px;
        padding: 0.3rem 0.5rem;
    }
}


@media (max-width: 400px) {
    nav {
        column-gap: 0.4rem; 
        padding: 0 0.4rem;
    }
    .nav-button {
        font-size: 13px;
        padding: 0.3rem 0.5rem;
    }
}

