header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 1000;
}

nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 1.5rem; 
    align-items: center;
    padding: 0 0.8rem 0 2rem;
}   

nav a {
    text-decoration: none; 
}   

.nav-button {
    padding: 0.4rem 0.8rem;
    border: none;
    background-color: black;
    color: rgb(247, 218, 141);
    font-weight: bold; 
    font-size: 16px; 
    cursor: pointer;
    white-space: nowrap; 
    transition: box-shadow 0.5s ease;
}

.nav-button:hover {
    border-radius: 15px;
    box-shadow:  0px 0px 15px 4px rgba(255, 206, 47, 0.8);
}

@media (max-width: 480px) {
    nav {
        column-gap: 0.4rem; 
        padding: 0 0.4rem;
    }
    .nav-button {
        font-size: 13px;
        padding: 0.3rem 0.5rem;
    }
}