.home-section {
    height: 100vh;
    padding: 100px 32px;
} 

.greeting, .role {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    font-size: 50px;

}

@keyframes slideIn {
    from {
        transform: translate(var(--x, 0), var(--y, 0));
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.hello {
    --x: -100px;
}

.name {
    --x: 100px;
}

.role {
    --y: 200px;
}

.info {
    --y: 200px;
    padding: 100px 100px;
}

.brackets, .about {
    font-weight: bold;
}

.brackets {
    color: yellow;
}

.about {
    color: rgb(169, 146, 231);
}

.about-me {
    color: rgb(202, 226, 169);
}


.hello, .name, .role, .info {
    margin: 20px 20px;
    animation: slideIn 2s ease forwards 0.5s;
}

strong {
    color:  rgb(232, 250, 207);
}




/**/ 




@media (max-width: 950px) {
    .hello, .name, .role, .info {
        margin: 0px;
    }

    .greeting, .role {
        font-size: 25px;
        column-gap: 7px;
        font-weight: bold;
    }
    .info {
        padding: 50px 50px;
    }
}



/**/ 



@media (max-width: 680px) {
    .hello, .name, .role, .info {
        margin: 0px;
    }

    .greeting, .role {
        font-size: 25px;
        column-gap: 7px;
        font-weight: bold;
    }
    .info {
        padding: 50px 50px;
    }
}



/**/ 



@media (max-width: 480px) {
    .home-section {
        padding: 30px 10px;
    }

    .hello, .name, .role, .info {
        margin: 0px;
    }

    .greeting, .role {
        font-size: 20px;
        column-gap: 7px;
        font-weight: bold;
    }

    .role {
        margin-bottom: 30px;
    }

    .info {
        padding: 10px 10px;
    }
}


/**/ 



@media (max-width: 350px) {
    .home-section {
        padding: 30px 10px;
    }

    .hello, .name, .role, .info {
        margin: 0px;
    }

    .greeting, .role {
        font-size: 18px;
        column-gap: 7px;
        font-weight: bold;
    }

    .role {
        margin-bottom: 30px;
    }

    .info {
        padding: 5px 5px;
    }
}


/*Carousel settings*/

.carousel-block {
    width: 50%;      /* takes 50% of parent container */
    margin: 0 auto;  /* centers horizontally */
}

.carousel {
    width: 100%;
    overflow: hidden;
    background-color: black;
    padding: 1rem 0;
}

.carousel-tech {
    display: flex;
    gap: 2rem;
    width: max-content;
    background-color: black;
}

.skill img {
    height: 40px;
    width: auto;
    display: block;
    border-radius: 15px;;
}

@keyframes scroll-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.carousel-tech {
    animation: scroll-right 20s linear infinite;
}

.carousel-track:hover {
    animation-play-state: paused;
}