.section-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}

.project-info {
    margin: auto;
    width: fit-content;
}

.project-name {
    color: rgb(169, 146, 231);
    font-size: 22px;
    font-weight: bold;
}

.project-tech-list {
    margin-left: 2em;
    margin-top: 1em;
}

.tech-item{
    height: 50px;;
}

@media (max-width: 950px) { 

    .section-projects {
        margin-left: 10%;
        margin-right: 10%;
        grid-template-columns: 1fr;
    }

    .project-video {
        width: 100%;
    }

    .project-name {
        font-size: 19px;
    }
}

@media (max-width: 680px) {

    .section-projects {
        margin-left: 5%;
        margin-right: 5%; 
    }

    .project-name {
        font-size: 18px;
    }

    .tech-item{
        height: 35px;
    }

    .project-info-brackets {
        font-size: 18px;
    }
}

@media (max-width: 550px) {

    .section-projects {
        margin-left: 1%;
        margin-right: 1%; 
    }

    .project-name {
        font-size: 15px;
    }

    .tech-item{
        height: 30px;
    }

    .project-info-brackets {
        font-size: 15px;
    }
}


@media (max-width: 400px) {

    .project-name {
        font-size: 13px;
    }

    .project-info-brackets {
        font-size: 13px;
    }

}

@media (max-width: 350px) {

    .project-info-brackets {
        font-size: 12px;
    }

}
